#version: '3.9'
#
#services:
#  postgres:
#    image: postgres:16-alpine
#    container_name: hr-postgres
#    environment:
#      POSTGRES_DB: postgres
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: hrsystem
#    ports:
#      - "5451:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U postgres"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#    networks:
#      - hr-network
#    restart: unless-stopped
#
#  hr-app:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    container_name: hr-app
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: hrsystem
#      SPRING_JPA_HIBERNATE_DDL_AUTO: update
#      JWT_SECRET: ${JWT_SECRET:-mySecretKey1234567890123456789012345678901234567890}
#      SPRING_MAIL_USERNAME: ${MAIL_USERNAME:-otpsender44@gmail.com}
#      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD:-qgjw jykk znkd ntjm}
#    ports:
#      - "8085:8080"
#    volumes:
#      - ./uploads:/app/uploads
#      - ./employeeImages:/app/employeeImages
#      - ./taskImage:/app/taskImage
#      - ./projectImage:/app/projectImage
#      - ./clientImage:/app/clientImage
#    depends_on:
#      postgres:
#        condition: service_healthy
#    networks:
#      - hr-network
#    restart: unless-stopped
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
#      interval: 30s
#      timeout: 10s
#      retries: 3
#      start_period: 40s
#
#volumes:
#  postgres_data:
#    driver: local
#
#networks:
#  hr-network:
#    driver: bridge


#-----------------------------------------------------------------------------------


services:
  app:
    build: .
    container_name: hr-app
    ports:
      - "8085:8080"   # Host:Container
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5450/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: hrsystem
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    networks:
      - hr-network

networks:
  hr-network:
    driver: bridge